h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
  background: linear-gradient(
    102.7deg,
    rgb(253, 218, 255) 8.2%,
    rgb(223, 173, 252) 19.6%,
    rgb(173, 205, 252) 36.8%,
    rgb(173, 252, 244) 73.2%,
    rgb(202, 248, 208) 90.9%
  );
  text-align: center;
}
